header {
    background-color: #6ab04c;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 24px 0 20px;
}

.logo {
    width: 180px;
    height: 180px;
    border-radius: 50%; 
}

.titulo {
    font-family: sans-serif;
    padding: 20px 0 20px;
}

